body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: lightcyan;
}

* {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
}

nav ul li a {
    color: #008080;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: tan;
}

h1 {
    color: black;
    padding-top: 100px;
    padding-bottom: 15px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    margin:0;
    padding: 5px;
    box-shadow: 5px 5px 5px #666;
}

img {
    width: 100%;
}

figcaption {
    background-color: rgb(14, 100, 3);
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

.card {
    width: 320px;
    height: 360px;
    padding: 50x 0px 0px 0px;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin: 35px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    backface-visibility: hidden;
}

.card__face--front {
    width: 340px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    transform: rotateY(180deg);
    flex-wrap: wrap;
    align-content: space-around;
}

.card__face--back {
    width: 340px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    transform: rotateY(180deg);
    flex-wrap: wrap;
    align-content: space-around;
}

p {
    font-size: 1rem;
    color: rgb(230, 111, 14);
    padding: 8px;
}

.createButton {
    display: flex;
    justify-content: center;
}

#create {
    width: 410px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

button:hover, button:focus{
  background-color: #008080;
  outline:none;
}