html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color:lightcyan;
  
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
  }
  
  nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  
  nav ul li a {
    color: #008080;
    text-decoration: none;
    text-transform:uppercase;
  }
  
  nav ul li a:hover {
    color: tan;
  }

  h1{
    padding:55px;
  }
  h2{
    padding:80px;
  }
  figure{
      /*could use flex wrap if this starts to be lame*/
      display: inline-block;
      
  }

  img{
    border-radius: 10px;
  }
  figcaption{
      text-align: center;
      font-size: 1em;
  }

.flag-pic{
    margin: 10px;
    border: 1px solid bule;
    width: 100%;
    height:auto;
    align-content: center;
    position: fixed;
}